.combobox {
  position: relative;
}
.combobox-input {
  display: flex;
  width: 100%;
}
.combobox-button {
  font-size: 20px;
  width: 2rem;
  text-align: center;
  cursor: pointer;
}
.combobox-menu {
  overflow: auto;
  width: calc(100% - 2rem);
  max-height: 20rem;
  position: absolute;
  list-style: none;
  font-size: 12px;
  text-align: start;
  background-color: #202020;
  padding: 0;
  margin: 2px;
}
.combobox-menu-entry {
  padding: 0.5rem;
}
.combobox-menu-entry:where(.hover, .selected) {
  background: #2C2C2C;
}
.comboboy-menu-entry-additional {
  color: #7A7A7A;
}